.spinner{
    height: 100px;
    width: 100px;
    
    border: 10px solid #ccc;
    border-top-color: #007bff;
    animation: spin 1s infinite linear;
    border-radius: 50%;
    text-align: center;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        
    }
}
body{
    text-align: center;
    background-color: blueviolet;
}
.progress-container {
    width: 500px;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin: 50px auto;
  }
  
  .progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
    animation: progress-animation 3s ease backwards;
  }
  
  @keyframes progress-animation {
    0% { width: 100%; }
    100% { width: 0; }
  }